name: nix-based CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on:
      - ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: cachix/install-nix-action@v19
        with:
          extra_nix_config: |
            access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}

      - uses: cachix/cachix-action@v12
        with:
           name: foliage
           authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - run: nix build --accept-flake-config

      - run: nix flake check --accept-flake-config --allow-import-from-derivation
